﻿@model Bank.ViewModels.TransactionHistoryResultViewModel

@{
    ViewBag.Title = "AccountHistory";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h3>@Html.Raw(Model.UserAccNr) history</h3>
<h3>Start balance: @Html.Raw(Model.StartValue)</h3>
<style>
    .Minus {
        color: red;
    }

    .Plus {
        color: green;
    }
</style>
<table class="table-hover">
    <thead>
        <tr>
            <th>Account</th>
            <th>Comment</th>
            <th>Date</th>
            <th>Value</th>
            <th>Balance</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.HistoryList)
        {
            <tr>
                <td>@Html.Raw(item.TransactionAccount)</td>
                <td>@Html.Raw(item.Comment)</td>
                <td>@Html.Raw(item.Transaction_date)</td>
                @if (item.IsSender)
                {
                    <td class="Minus">- @Html.Raw(item.Value)</td>
                }
                else
                {
                    <td class="Plus">+ @item.Value</td>
                }
                <td>@Html.Raw(item.CurrentValue)</td>
            </tr>
        }
    </tbody>
</table>
<h3>Current balance: @Html.Raw(Model.CurrentValue)</h3>

