﻿@model Bank.ViewModels.DetailsModel
@{
    ViewBag.Title = Model.User.User_firstname+" "+Model.User.User_lastname;
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>@Model.User.User_lastname @Model.User.User_lastname</h2>
<body>
    <table class="table-hover">
        <tr>
            <td>Login: @Model.User.User_login</td>
        </tr>
        <tr>
            <td>Password: @Model.User.User_password</td>
        </tr>
        <tr>
            <td>Status: @Model.User.Status.Status_name</td>
        </tr>
    </table>
    <table class="table-hover">
        <thead>
            <tr>
                <th>Type of user</th>
                <th>From(Date)</th>
                <th>To(Date)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (BL.Domain.User_type user_t in Model.UserType)
            {
                <tr>
                    <td>@Html.Raw(user_t.Type_of_user.Type_name)</td>
                    <td>@Html.Raw(user_t.From_date.ToString("dd-MM-yyyy"))</td>
                    <td>@Html.Raw(user_t.To_date.ToString("dd-MM-yyyy"))</td>
                </tr>
            }
        </tbody>
    </table>
    <table class="table-hover">
        <thead>
            <tr>
                <th>Account Number</th>
                <th>Account balance</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (BL.Domain.Account accounts in Model.Account)
            {
                <tr>
                    <td>@Html.Raw(accounts.Account_number)</td>
                    <td>@Html.Raw(accounts.Account_balance)</td>
                    @if (accounts.IsActive){
                        <td>@Html.Label("Active")</td>
                    }else{
                        <td>@Html.Label("Removed")</td>
                    }
                    <td>@Html.ActionLink("History", "AccountHistory", "Admin", new { id = accounts.Account_id }, null)
                    | @if(accounts.IsActive){
                        @Html.ActionLink("Remove", "RemoveAccount", "Admin", new { id = accounts.Account_id }, null)
                    }else{
                        @Html.ActionLink("Activate", "ActivateAccount", "Admin", new {id=accounts.Account_id }, null)
                    }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>