﻿@model Bank.ViewModels.EditViewModel
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@using (Html.BeginForm("Save", "Admin"))
{
    @Html.ValidationSummary()
    <div class="form-group">
        @Html.LabelFor(m => m.UserInfo.User_firstname)
        @Html.TextBoxFor(m => m.UserInfo.User_firstname, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.UserInfo.User_firstname)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.UserInfo.User_lastname)
        @Html.TextBoxFor(m => m.UserInfo.User_lastname, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.UserInfo.User_lastname)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.UserInfo.User_login)
        @Html.TextBoxFor(m => m.UserInfo.User_login, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.UserInfo.User_login)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.UserInfo.User_password)
        @Html.TextBoxFor(m => m.UserInfo.User_password, new { @class = "form-control"})
        @Html.ValidationMessageFor(m => m.UserInfo.User_password)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.UserTypeConnection.Type_of_user)
        @Html.DropDownListFor(m => m.UserTypeConnection.Type_of_user.Type_ID, new SelectList(Model.Types, "Type_ID", "Type_name"), "Select User Type", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.UserTypeConnection.Type_of_user)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.UserInfo.Status_id)
        @Html.DropDownListFor(m => m.UserInfo.Status.Status_id, new SelectList(Model.Statuses, "Status_id", "Status_name"), "Select Status Type", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.UserInfo.Status)
    </div>

    @Html.HiddenFor(m => m.UserInfo.User_id)
    @*Submit button*@
    <button type="submit" class="btn btn-primary">Edit</button>
}

@section scripts
{
    @*client side validation*@
    @Scripts.Render("~/bundles/jqueryval")
}

