﻿@model Bank.ViewModels.LoggerViewModel
@{
    ViewBag.Title = "Logger";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
    <table>
        <thead>
            <tr>
                <th>Date</th>
                <th>Action Type</th>
                <th>Info</th>
            </tr>
        </thead>
        <tbody>
            @foreach (BL.Domain.Action logg in Model.ActionList)
            {
                <tr>
                    <td>@Html.Raw(logg.Action_date)</td>
                    <td>@Html.Raw(logg.Action_type)</td>
                    <td>@Html.Raw(logg.Info)</td>
                </tr>
            }
        </tbody>
    </table>
    @if (Model.Pages.EndPage > 1)
    {
        <ul class="pagination pagination-lg">
            <li>
                <a href="~/Admin/Logger?page=1"><span class="glyphicon glyphicon-fast-backward"></span></a>
            </li>
            <li>
                <a href="~/Admin/Logger?page=@(Model.Pages.CurrentPage-1)"><span class="glyphicon glyphicon-arrow-left"></span></a>
            </li>
            @for (int page = Model.Pages.StartPage; page <= Model.Pages.EndPage; page++)
            {
                if (page == Model.Pages.CurrentPage)
                {
                    <li class="active"><a href="~/Admin/Logger?page=@page">@page</a></li>
                }
                else
                {
                    <li><a href="~/Admin/Logger?page=@page">@page</a></li>
                }
            }
            <li>
                <a href="~/Admin/Logger?page=@(Model.Pages.CurrentPage+1)"><span class="glyphicon glyphicon-arrow-right"></span></a>
            </li>
            <li>
                <a href="~/Admin/Logger?page=@(Model.Pages.TotalPages)"><span class="glyphicon glyphicon-fast-forward"></span></a>
            </li>
        </ul>
    }
