﻿@using Bank.ViewModels;
@model TransactionListViewModel
@{
    ViewBag.Title = "Transactions";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@if (!Model.TransactionList.Any())
{
    <p>There are no transactions</p>
}
else
{
    <table class="table-hover">
        <thead>
            <tr>
                <th>Sender</th>
                <th>Receiver</th>
                <th>Date/Time</th>
                <th>Amount</th>
                <th>Comment</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (BL.Domain.Transaction trans in Model.TransactionList)
            {
                <tr>
                    <td>@Html.Raw(trans.Sender.Account_number)</td>
                    <td>@Html.Raw(trans.Receiver.Account_number)</td>
                    <td>@Html.Raw(trans.Transaction_date.ToString())</td>
                    <td>@Html.Raw(trans.Value)</td>
                    <td>@Html.Raw(trans.Comment)</td>
                    @if (trans.Cancel)
                    {
                        <td>@Html.Label("Canceled")</td>
                    }
                    else
                    {
                        <td>@Html.ActionLink("Cancel", "CancelTransaction", "Admin", new { id = trans.Transactions_id }, null)</td>
                    }
                </tr>
            }
        </tbody>
    </table>
    if (Model.Pages.EndPage > 1)
    {
        <ul class="pagination pagination-lg">
            <li>
                <a href="~/Admin/Transactions?page=1"><span class="glyphicon glyphicon-fast-backward"></span></a>
            </li>
            <li>
                <a href="~/Admin/Transactions?page=@(Model.Pages.CurrentPage-1)"><span class="glyphicon glyphicon-arrow-left"></span></a>
            </li>
            @for (int page = Model.Pages.StartPage; page <= Model.Pages.EndPage; page++)
            {
                if (page == Model.Pages.CurrentPage)
                {
                    <li class="active"><a href="~/Admin/Transactions?page=@page">@page</a></li>
                }
                else
                {
                    <li><a href="~/Admin/Transactions?page=@page">@page</a></li>
                }
            }
            <li>
                <a href="~/Admin/Transactions?page=@(Model.Pages.CurrentPage+1)"><span class="glyphicon glyphicon-arrow-right"></span></a>
            </li>
            <li>
                <a href="~/Admin/Transactions?page=@(Model.Pages.TotalPages)"><span class="glyphicon glyphicon-fast-forward"></span></a>
            </li>
        </ul>
    }
}

