﻿@using Bank.ViewModels;
@model UserListViewModel
<style>

</style>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@if (!Model.Users.Any())
{
    <p>There are no users in the table users</p>
}
else
{
    <table class="table-hover">
        <thead>
            <tr>
                <th>User full name</th>
                <th>User Type</th>
                <th>User Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (BL.Domain.User user in Model.Users)
            {
                <tr>
                    <td>@Html.Label(user.User_firstname + " " + user.User_lastname)</td>
                    @foreach (BL.Domain.User_type type in Model.UserTypes)
                    {
                        if (type.User_ID==user.User_id)
                        {
                            <td>@Html.Raw(type.Type_of_user.Type_name)</td>
                        }
                    }
                    <td>@Html.Raw(user.Status.Status_name)</td>
                    <td>@Html.ActionLink("Details", "Details", "Admin", new { id = user.User_id }, null) |
                        @Html.ActionLink("Edit", "Edit", "Admin", new { id = user.User_id }, null) |
                        @Html.ActionLink("Remove","RemoveUser", "Admin", new {id = user.User_id },null)
                    </td>
                </tr>
            }
        </tbody>
    </table>
    if (Model.Pages.EndPage > 1)
    {
        <ul class="pagination pagination-lg">
            <li>
                <a href="~/Admin/Users?page=1"><span class="glyphicon glyphicon-fast-backward"></span></a>
            </li>
            <li>
                <a href="~/Admin/Users?page=@(Model.Pages.CurrentPage-1)"><span class="glyphicon glyphicon-arrow-left"></span></a>
            </li>
            @for (int page = Model.Pages.StartPage; page <= Model.Pages.EndPage; page++)
            {
                if (page == Model.Pages.CurrentPage)
                {
                    <li class="active"><a href="~/Admin/Users?page=@page">@page</a></li>
                }
                else
                {
                    <li><a href="~/Admin/Users?page=@page">@page</a></li>
                }
            }
            <li>
                <a href="~/Admin/Users?page=@(Model.Pages.CurrentPage+1)"><span class="glyphicon glyphicon-arrow-right"></span></a>
            </li>
            <li>
                <a href="~/Admin/Users?page=@(Model.Pages.TotalPages)"><span class="glyphicon glyphicon-fast-forward"></span></a>
            </li>
        </ul>
    }
}
