﻿@model Bank.ViewModels.UserLoginModel

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("LoginUser", "User"))
{
    @Html.ValidationSummary(true)
    <div class="form-group">
        @Html.LabelFor(m => m.UserLogin)
        @Html.TextBoxFor(m => m.UserLogin, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.UserLogin)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.UserPassword)
        @Html.TextBoxFor(m => m.UserPassword, new { @class = "form-control", @type = "password" })
        @Html.ValidationMessageFor(m => m.UserPassword)
    </div>
    if (!Model.ResponseMessage.IsEmpty())
    {
        <div class="field-validation-error">
            @Html.Label(Model.ResponseMessage)
        </div>
    }
    <button type="submit" class="btn btn-primary">Login</button>
}
