﻿@model Bank.ViewModels.UserViewModel

@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Save", "User"))
{
    @Html.ValidationSummary()
    <div class="form-group">
        @Html.LabelFor(m =>m.User.User_firstname)
        @Html.TextBoxFor(m => m.User.User_firstname,new { @class="form-control" })
        @Html.ValidationMessageFor(m => m.User.User_firstname)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.User.User_lastname)
        @Html.TextBoxFor(m => m.User.User_lastname, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.User.User_lastname)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.User.User_login)
        @Html.TextBoxFor(m => m.User.User_login, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.User.User_login)
    </div>
    if (!Model.ErrorMessage.IsEmpty())
    {
        <div class="field-validation-error">
            @Html.Label(Model.ErrorMessage)
        </div>
    }
    <div class="form-group">
        @Html.LabelFor(m => m.User.User_password)
        @Html.TextBoxFor(m => m.User.User_password, new { @class = "form-control" , @type="password" })
        @Html.ValidationMessageFor(m => m.User.User_password)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword)
        @Html.TextBoxFor(m => m.ConfirmPassword, new { @class = "form-control", @type = "password" })
        @Html.ValidationMessageFor(m => m.ConfirmPassword)
    </div>

    @Html.HiddenFor(m => m.User.User_id)
    @*Submit button*@
    <button type="submit" class="btn btn-primary">Submit</button>
}

@section scripts
{
    @*client side validation*@
    @Scripts.Render("~/bundles/jqueryval")
}