﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Validation fail text color */
.field-validation-error {
    color: red;
}

/* Validation fail input border */
.input-validation-error {
    border: 2px solid red;
}
        
.allbody {
    position: relative;
    margin-left: 3%;
    margin-right: 5%;
    margin-top: 1%;
    padding-bottom: 15px;
    padding-top: 5px;
    padding-left: 20px;
    font-family: "Helvetica Neue", Arial, sans-serif;

}

.footer {
    position: fixed;
    margin-left: 5%;
    margin-right: 5%;
    right: 0px;
    bottom: 0px;
    left: 0px;

}

table {
    border: 1px solid black;
    width: 100%;

}

table, td, th {
    text-align: left;

}

th, td {
    padding: 15px;

}
