﻿@model Bank.ViewModels.UserCreateAccountModel

@{
    ViewBag.Title = "CreateAccount";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create bank account</h2>

@using (Html.BeginForm("SaveAccount", "Account"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.AccountBalance)
        @Html.TextBoxFor(m => m.AccountBalance, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.AccountBalance)
    </div>


    @*Submit button*@
    <button type="submit" class="btn btn-primary">Create</button>
}
