﻿@model Bank.ViewModels.PaymentViewModel

@{
    ViewBag.Title = "Payment Info";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Payment Info</h2>


@using (@Html.BeginForm())
{
    <table class="table-hover">
        <tbody>
            <tr>
                <td>@Html.LabelFor(m => m.SenderName)</td>
                <td>@Html.Raw(Model.SenderName)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.SenderAccNr)</td>
                <td>@Html.Raw(Model.SenderAccNr)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.ReceiverName)</td>
                <td>@Html.Raw(Model.ReceiverName)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.ReceiverAccNr)</td>
                <td>@Html.Raw(Model.ReceiverAccNr)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.Amount)</td>
                <td>@Html.Raw(Model.Amount)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.Comment)</td>
                <td>@Html.Raw(Model.Comment)</td>
            </tr>
        </tbody>
    </table>
}