﻿@model Bank.ViewModels.PaymentViewModel

@{
    ViewBag.Title = "Payment";
}

<h2>Payment</h2>

@using (@Html.BeginForm("MakePayment", "Account"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.SenderAccNr)
        @Html.DropDownListFor(m => m.SenderAccNr, Model.SenderAccList, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.SenderAccNr)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.AllAccList)
        @Html.DropDownListFor(m => m.ReceiverAccNr, Model.AllAccList, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.ReceiverAccNr)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Amount)
        @Html.TextBoxFor(m => m.Amount, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Amount)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Comment)
        @Html.TextBoxFor(m => m.Comment, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Comment)
    </div>

    <button type="submit" class="btn btn-primary">Make payment</button>
}