﻿@model Bank.ViewModels.TransactionHistoryViewModel

@{
    ViewBag.Title = "Transaction History";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Transaction History</h2>


@using (@Html.BeginForm("TransactionHistoryResult", "Account"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.AccNr)
        @Html.DropDownListFor(m => m.AccNr, Model.AccList, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.AccNr)
    </div>

    <button type="submit" class="btn btn-primary">Show history</button>
}