﻿@model Bank.ViewModels.DetailsModel
@{
    ViewBag.Title = "UserDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>@Model.User.User_lastname @Model.User.User_lastname</h2>
<body>
    <table class="table-hover">
        <tr>
            <td>Login: @Html.Raw(Model.User.User_login)</td>
        </tr>
        <tr>
            <td>Status: @Html.Raw(Model.User.Status.Status_name)</td>
        </tr>
    </table>
    <table class="table-hover">
        <thead>
            <tr>
                <th>Type of user</th>
                <th>From(Date)</th>
                <th>To(Date)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (BL.Domain.User_type user_t in Model.UserType)
            {
                <tr>
                    <td>@Html.Raw(user_t.Type_of_user.Type_name)</td>
                    <td>@Html.Raw(user_t.From_date.ToString("dd-MM-yyyy"))</td>
                    <td>@Html.Raw(user_t.To_date.ToString("dd-MM-yyyy"))</td>
                </tr>
            }
        </tbody>
    </table>
</body>

