﻿@model IEnumerable<BL.Domain.Account>
<h2>Accounts</h2>
@if (!Model.Any())
{
    <p>You don't have any accounts.</p>
}
else
{
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Account number</th>
                <th>Account balance</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var acc in Model)
            {
                <tr>
                    <td>@Html.Raw(acc.Account_number)</td>
                    <td>@Html.Raw(acc.Account_balance)</td>
                    <td>
                        <button type="remove @acc.Account_id" class="btn btn-danger" onclick="location.href='@Url.Action("Remove", "Account",new { id = acc.Account_id })'">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}