﻿<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Bank", "Index", "User", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Users", "Users", "Admin")</li>
                <li>@Html.ActionLink("Transactions", "Transactions", "Admin")</li>
                <li>@Html.ActionLink("Logger", "Logger", "Admin")</li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>@Html.ActionLink("Log out", "LogOut", "User", routeValues: null, htmlAttributes: new { id = "logoutLink" })</li>
            </ul>
        </div>
    </div>
</div>
