﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title BANK</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="allbody">
        @Html.Partial("_AdminNavbar")
        <div class="mainbody">
            @RenderBody()
        </div>
    </div>
    <div class="footer">
        <hr>
        <a href="#">Terms of Service</a> | <a href="#">Privacy</a>
        <p class="muted pull-right">&copy; @DateTime.Now.Year - Bank Application</p>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>