﻿<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @if (!Request.IsAuthenticated)
            {
                @Html.ActionLink("Bank", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            }
            else
            {
                @Html.ActionLink("Bank", "Index", "User", new { area = "" }, new { @class = "navbar-brand" })
            }
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                @if (!Request.IsAuthenticated)
                {
                    <li>@Html.ActionLink("Auth test", "AuthTest", "User", routeValues: null, htmlAttributes: new { id = "authLink" })</li>
                    <li>@Html.ActionLink("Register", "NewUser", "User", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
                    <li>@Html.ActionLink("Log in", "Login", "User", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
                }
                else
                {
                    <li>@Html.ActionLink("My info", "UserInfo", "Account", routeValues: null, htmlAttributes: new { id = "userinfo" })</li>
                    <li>@Html.ActionLink("Log out", "LogOut", "User", routeValues: null, htmlAttributes: new { id = "logoutLink" })</li>
                }
            </ul>
        </div>
    </div>
</div>
