﻿<nav class="navbar navbar-default navbar-fixed-side">
    <ul class="nav nav-pills nav-stacked text-nowrap">
        <li class="nav-item">@Html.ActionLink("Create account", "CreateAccount", "Account", routeValues: null, htmlAttributes: new { id = "createAccountLink" })</li>
        <li class="nav-item">@Html.ActionLink("My Accounts", "ViewAccounts", "Account", routeValues: null, htmlAttributes: new { id = "viewAccountsLink" })</li>
        <li class="nav-item">@Html.ActionLink("Make payment", "Payment", "Account", routeValues: null, htmlAttributes: new { id = "paymentLink" })</li>
        <li class="nav-item">@Html.ActionLink("Transaction history", "TransactionHistory", "Account", routeValues: null, htmlAttributes: new { id = "transactionLink" })</li>
        <li class="nav-item">@Html.ActionLink("Auth test", "AuthTest", "User", routeValues: null, htmlAttributes: new { id = "authLink" })</li>
    </ul>
</nav>