﻿@{
    ViewBag.Title = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/Content/bank_1.jpg" alt="Money">
            <div class="carousel-caption">
                <h3>We love money</h3>
                <p>We love your money.</p>
            </div>
        </div>
        <div class="item">
            <img src="~/Content/bank_2.jpg" alt="Bank">
            <div class="carousel-caption">
                <h3>Money</h3>
                <p>Give me money</p>
            </div>
        </div>
         <div class="item">
            <img src="~/Content/bank_3.jpg" alt="Bank">
            <div class="carousel-caption">
             <h3>Money</h3>
                <p>Give me money</p>
            </div>
        </div>
        <div class="item">
            <img src="~/Content/bank_4.jpg" alt="Bank">
            <div class="carousel-caption">
                <h3>Money</h3>
                <p>Give me money</p>
            </div>
        </div>
    </div>


    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>